<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <connectionStrings>
    <add name="WebBetConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WebBet;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>

  <appSettings>
    <add key="SessionTimeOut" value="10"/>
  </appSettings>
 
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  
</configuration>